@using PagedList.Mvc
@model  PagedList.IPagedList<Model.ViewModels.AccountViewModel>

@{
    ViewBag.Title = "AccountRequests";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="adminNavBar"></section>
<div class="container">
    <div class="row">
        <section class="content col-md-10" style="margin-right: 5%;">
            <h2>طلبات الاشتراك</h2>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("الإسم")
                        </th>
                        <th>
                            @Html.DisplayName("صورة البطاقة")
                        </th>
                        <th>
                            @Html.DisplayName("المهنه")
                        </th>

                        <th></th>
                    </tr>
                </thead>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            <img for="files" src="@item.CardImage" onerror="this.src = 'Uploads/Default.jpg'" style="width:250px; height:90px" class="card-200">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProfessionTitle)
                        </td>

                        <td>
                            @Html.ActionLink("قبول الاشتراك", "ConfirmRequest", new { id = item.AccountId }, new { @class = "btn btn-primary", @style = "padding: 3px 0px; width: 62%;margin-right: 15%;" })
                        </td>
                    </tr>
                }

            </table>

            <div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                <div class="pagination" style="margin-left: 400px">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

                    صفحة @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    من @Model.PageCount
                </div>
            </div>


        </section>

    </div>

</div>



    @section Scripts {

        <script>
        </script>
    }
