@model Model.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="adminNavBar"></section>

<div class="container mt-15 mb-30">
    <h2>بينات المستخدم</h2>
    <p>
        @Html.ActionLink("تعديل البينات", "Create", new { id = Model.AccountId }, new { @class = "btn btn-primary", style = "width: 11%;" })
    </p>
    <table class="table table-bordered table-striped col-md-8">
        <tr>
            <th>الإسم</th>
            <td>@Model.FirstName @Model.LastName</td>
        </tr>
        <tr>
            <th>المهنه</th>
            <td>@Model.ProfessionTitle</td>
        </tr>
        <tr>
            <th>رقم الهاتف</th>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <th>المكان</th>
            <td>@Model.Location</td>
        </tr>
        <tr>
            <th>فيس بوك</th>
            <td>@Model.FacebookUrl</td>
        </tr>
        <tr>
            <th>تويتر</th>
            <td>@Model.TwitterUrl</td>
        </tr>
        <tr>
            <th>الموقع الكتروني</th>
            <td>@Model.Website</td>
        </tr>
        <tr>
            <th>كلمات مساعدة</th>
            <td>
                @if (Model.Keywords != null)
                {
                    foreach (var word in (Model.Keywords))
                    { 
                         <p>@word.KeyWord </p>

                    }
                }
            </td>
        </tr>
        <tr>
            <th>صورة البطاقة</th>
            <td>
                <img src="~/@Model.CardImage" onerror="this.src = '@HttpRuntime.AppDomainAppVirtualPath/Uploads/Default.jpg'" style="width:250px; height:150px" class="card-200">
            </td>
        </tr>
    </table>
</div>

