@using PagedList.Mvc
@model  PagedList.IPagedList<Model.ViewModels.ServiceViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="adminNavBar"></section>
<div class="container">
    <div class="row">
        <section class="content col-md-10" style="margin-right: 5%;">
            <h2>الخدمات</h2>
            <p>
                @Html.ActionLink("اضافه", "Create", new { }, new { @class = "btn btn-success", @style = "padding: 6px 0px;width: 10%;" })
            </p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("الإسم")
                        </th>
                        <th>
                            @Html.DisplayName("موجود")
                        </th>

                        <th></th>
                    </tr>
                </thead>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceName)
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => item.Status)
                        </td>
                       
                        <td>
                            @Html.ActionLink("تفاصيل", "Details", new { id = item.ServiceId }, new { @class = "btn btn-info", @style = "padding: 3px 0px;" }) |
                            @Html.ActionLink("تعديل", "Create", new { id = item.ServiceId }, new { @class = "btn btn-primary", @style = "padding: 3px 0px;" })
                        </td>
                    </tr>
                }

            </table>

            <div id="container" style="margin-left: 20px">
                <p></p>
                <p></p>
                <div class="pagination" style="margin-left: 400px">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

                    صفحة @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    من @Model.PageCount
                </div>
            </div>


        </section>

    </div>

</div>
