@model  List<Model.ViewModels.AccountViewModel>
@{
    ViewBag.Title = "Home Page";
    if (Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


<div class="nopadding">
    @*@Html.Partial("JoinPopUp", new Model.ViewModels.AccountViewModel())*@
    @Html.Partial("SearchPartialView", new Model.ViewModels.GeneralSearchView())
    @Html.Partial("AdsPartialView")
    @Html.Partial("CardsPartialView", @Model)
    @Html.Partial("AdvancedSearchPartialView", new Model.ViewModels.SearchViewModel())
    @Html.Partial("CarrersPartialView")



    @*<input type="hidden" id="dwt_listing_ajax_url" value="wp-admin/admin-ajax.html" />
        <input type="hidden" id="theme_path" value="wp-content/themes/dwt-listing/index.html" />
        <input type="hidden" id="map_lat" value="40.7127837" />
        <input type="hidden" id="map_long" value="-74.00594130000002" />
        <input type="hidden" id="ip_type" value="ip_api" />
        <input type="hidden" id="is_rtl" value="1" />
        <input type="hidden" id="profile_page" value="profile/indexdd87.html?listing-type=profile-update" />
        <input type="hidden" id="facebook_key" value="428770410876802" /><input type="hidden" id="google_key" value="744750397919-2v1ddakqh0nqvi99iidbkm45jnfcssu0.apps.googleusercontent.com" /><input type="hidden" id="redirect_uri" value="https://listing.downtown-directory.com/" /><input type="hidden" id="is_tracking_on" value="0" />*@




</div>

@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnShowModal").click(function () {
                $("#loginModal").modal('show');
            });

            $("#btnHideModal").click(function () {
                $("#loginModal").modal('hide');
            });

        });
    </script>
}
