@using PagedList.Mvc
@model  PagedList.IPagedList<Model.ViewModels.AccountViewModel>

@{
    ViewBag.Title = "Results";
    if (Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


@if (Request.IsAuthenticated)
{
    <section class="adminNavBar"></section>
}
else
{
    <section class="UserNavBar"></section>
}


<div class="container">
    <div class="row">
        <div class="col-lg-2 col-xs-12 col-md-2 leftSidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
            <section class="content">
                <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 1079.5px;">
                    <div class="list-image-section">
                        <a href="" target="_blank"><img class="img-responsive" src="~/Content/wp-content/uploads/sites/5/2018/02/b1.png" alt=""></a>
                    </div>
                </div>
            </section>

        </div>
        <div class="col-lg-8 col-xs-12">
            <section class="content">
                <h2 style="padding-right: 20px;">نتائج البحث</h2>
                @if (Model.Count() == 0)
                {
                    <p class="padding-right-50">لا توجد نتائج</p>
                }
                else
                {
                    <div class="">
                        <div class="panel panel-default">
                            <div>
                                <div class="table-container">
                                    <table class="table">
                                        <tbody>

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="media">
                                                            <a href="../Accounts/AccountProfile/@item.AccountId" class="pull-right col-md-5">
                                                                <img src="../@item.CardImage" onerror="this.src = '@HttpRuntime.AppDomainAppVirtualPath/Uploads/Default.jpg'" class="card-200">
                                                            </a>
                                                            <div class="media-body">
                                                                <label class="media-meta pull-left col-md-5 ">عدد عمليات البحث <span class="badge">@item.NoOfSearches</span></label>
                                                                <div>
                                                                    <h4 class="title resultTitle">
                                                                        @item.FirstName @item.LastName
                                                                    </h4>
                                                                    <p class="summary">
                                                                        تعمل فى مجال @item.ProfessionTitle
                                                                    </p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>


                                    <div id="container">
                                        <p></p>
                                        <p></p>
                                        <div class="pagination">
                                            @Html.PagedListPager(Model, page => Url.Action("Results", new { page }))
                                        </div>
                                        @*<div class="col-md-5">
                                                صفحة @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                                                من @Model.PageCount
                                            </div>*@
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                }
            </section>
        </div>
        <div class="col-lg-2 col-xs-12 col-md-2 rightSidebar">
            <section class="content">
                <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 1079.5px;">
                    <div class="list-image-section">
                        <a href="" target="_blank"><img class="img-responsive" src="~/Content/wp-content/uploads/sites/5/2018/02/b1.png" alt=""></a>
                    </div>
                </div>
            </section>

        </div>

    </div>
</div>